
.booking-detail-header{
	padding-right: 50px;
}
.booking-billing-header{
	margin-top: 40px;
}
#booking h2.title{
	text-align: center;
	margin: 20px 0;
}
.general_order_price_cont{
	font-size: 22px;
	color: #5CB85C;
	font-weight: bold;
	padding: 5px 10px;
	border:solid 1px #5CB85C;
	border-radius: 4px;
}
#right_form_part{
	display: none;
}
#gutter_length_alert{
	display: none;
}
.payment-errors{
	color:red;
	text-align: right;
	padding-right: 15px;
}

.line{
	margin: 10px 0 20px;
    width: 100%;
    height: 1px;
    background: #ccc;
    border: none;
}

.after_form_text{
	font-style: italic;
	font-weight: bold;
}

.bottom-img img{
	height: 65px!important;
	width: auto;
	margin-bottom: 20px;
}

#payment-form h3{
	text-align: right;
} 
.show_right_form_part_cont{
	text-align: right;
    padding-right: 15px;
}
.gutter_length_button{
	margin-bottom: 5px !important;
}
.order_price_block, .order_finish_block{
	text-align: right;
	padding: 0 !important;
}
.top_box_description_ul li{
	float: left;
	margin: 0 10px;
	color: white;
}
.top_box_description_ul{
	margin: 0 auto;
    display: inline-block;
}

@media screen and (max-width: 991px ) {
   	#payment-form h3{
		text-align: center;
	}
	.booking-detail-header{
		padding-right: 0px;
	}
	#right_form_part{
		overflow: hidden;
    	margin-top: 45px;
	}
	.show_right_form_part_cont{
		text-align: center;
	    padding-right: 0px;
	}
	.general_order_price_cont{
		font-size: 18px;
	}
	.finish_booking{
	    margin: 20px 0 0 0;
	    font-size: 12px;
	}
	.general_order_price_cont{
		display: block;
	}
	.order_price_block, .order_finish_block{
		text-align: center;
	}
    #text-5, #nav_menu-2, #text-4{
        display: none !important;
    }
    .top_box_description_ul li{
		float: none;
	}
	.top_box_description_ul{
		margin: 0 auto;
	    display: block;
	}
}