/*UI Slideshow styles*/


/*Frontend*/

video{
	width: 100%;
}

.gallery-box {
    position: relative;
    height: 400px;
}

.sl_button_cont{
    position: absolute;
    top: 30px;
}


.sl-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    opacity: 0.8;
    margin: 10px;
}

.caption {
    position: absolute;
    width: 100%;
    background-color: #4CAF50;
    opacity: 0.8;
    bottom: 10px;
}

.caption .title, .caption .desc {
    text-align: center;
}

.gallery-box .sl-button:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
