.select2-container {
	width: 100%;
}
.lesson_images_list_item{
	float: left;
	width: 40%;
	height: 200px;
}
.lesson_images_list_item img{
    margin: 10px;
    width: 100%;
}

.lesson_image_fields {
	float: left;
    margin: 10px 0 00 20px;
    width: 40%;
}
.lesson_image_fields input, .lesson_image_fields textarea{
	width: 100%;
}
.lesson_image_fields textarea{
	min-height: 80px;
}
.lesson_images_list_cont{
	overflow: hidden;
	margin-bottom: 20px;
}
.remove_lesson_image_ico{
	cursor:pointer;
	padding: 5px;
	border: solid 1px #ccc;
	margin-top: 10px;
	display: block;
	float: left;
}
.remove_lesson_image_ico:hover{
	background: #ebebeb;
}
