
.feed-preview{
	width: 80%;
	margin: 0;
	padding: 0;
}

.feed-wrapp{
	margin: 0;
	padding: 10px;
	overflow: hidden;
}

.feed-row{
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.feed-left{
	width: 50%;
	margin: 0;
	float: left;
}

.feed-right{
	width: 50%;
	margin: 0;
	float: right;
}

.feed-ava{
	width: 13%;
	padding-right: 2%
}

.feed-ava img{
	width: 100%;
	height: auto;
	border:solid 1px #ccc;
}

.feed-title{
	width: 85%;
	word-wrap: break-word;
}

.feed-title h3{
	margin: 0;
}

.feed-img{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	min-width: 235px;
	min-height: 180px;
	background-size: cover;
	width: 100%;
	height: auto;
}

.feed-link{
	display: block;
}

.feed-description{
	word-wrap: break-word;
	font-size: 12px;
}

.feed-link-sub{
	font-weight: 14px;
}

.feed-title h3{
	font-size: 14px;
	font-weight: 600;
}

.feed_links a, .feed_date{
	font-size: 12px;
	color: grey;
}

.fb_share{
	margin-left: 20px;
}