/*-----------------------------------
Ideas plugin
----------------------------------*/
.add-idea-button {
	width: 100%;
}
.ideas-list .idea-avatar img {
  border-radius: 100px;
}
.ideas-list .item-likes:before{
    content:none !important;
}
.ideas-list .sabai-questions-vote-count span{
    display: inline;
}
.ideas-list .item-likes{
    display: block;
}
.ideas-list .liked{
    color:#00E000;
}
.ideas-list a.liked:hover{
    color:#00E000 !important;
}
.single_idea .article-meta{
  display: none;
}
.single_idea .article-content{
  margin-left: 0px !important;
}
.single_idea .sabai-questions-side{
  margin-right: 20px;
  min-width: 65px;
  padding-left: 0px;
}

div#ideaModal:focus {
  outline: none;
}
.idea_tag{
	float: left;
	padding: 0px 4px;
	background: #5bc0de;
	border-radius: 3px;
	color: white;
	margin: 0 10px 0 0;
}
.reset_image{
	margin-top: 10px;
	cursor:pointer;
}
.form_error, .file_error {
	color:rgb(255, 100, 100);
}
.input_error{
	border: solid 1px rgb(255, 100, 100) !important;
}

.idea_loading_block img{
	width: 20px;
  	margin-left: 10px;
}
.idea_info_block, .idea_loading_block{
	display: none;
    padding: 5px;
    position: absolute;
    top: 45px;
    background: white;
    border: solid 1px #eee;
    border-radius: 4px;
    z-index: 10;
}
.idea_info_block i{
	cursor: pointer;
	margin: 0 0 0 10px;
}
.idea_error{
	background: rgb(255,220,220);
}
.attach_file_link{
	max-width: 400px;
	margin: 10px auto 0 auto;
	border: solid 1px #eee;
	padding: 10px;
}

.idea_search_input{
	width: 100%;
	height: 30px;
	margin: 3px 0 !important;
}
.idea_search{
	margin-left: 10px;
	margin-top: 3px;
	width: 100$;
  	background: #fff;
}
.idea_search select{
	width: 100%;
}
.idea_favorite{
	cursor: pointer;
}
.fa.fa-star {
	color: #efc700;
}
.status_tag{
	font-size:10px;
	margin: 0 0 10px 0;
	border-radius: 4px;
}
.idea_user_points{
	color: #ccc;
}
.idea_search_box{
  background: #F5F5F5;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-left: 10px!important;
    padding: 3px 0;
}
.idea_campaign_info{
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
}
.idea_campaign_img{
	margin-right: 20px;
}
.single_idea .counter,.single_idea .tiles{
  display: none;
}
.idea_search_box .btn-info{
	border: none;
	border-radius: 4px;
}
.idea_search_box .btn i{
	margin-right: 0;
}





.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}
.ui-menu .ui-menu-item{
	padding:0 5px !important;
}
.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}